.nav__img{
    width: 240px;
    height: 25px;
}

button{
  cursor: pointer;
}

.nav{
  display: flex;
  justify-content: space-between;
  background-color: #fdf9f9;
  padding: 10px 0px;
}

.btns__wrapper{
  display: flex;
  align-items: center;;
}
.nav__btn{
  margin-right: 42px;
  background-color: #4D4DFF;
  color: white;
  border: none;
  font-size: 20px;
  font-weight: 600;
  padding: 8px 12px;
  border-radius: 999px;
}

.nav__btns{
  margin-right: 20px;
}

.nav__btn--log,
.nav__btn--reg{
  border: none;
  border-radius: 4px;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 500;
}

.nav__btn--reg{
  margin-left: 10px;
  background-color: #4D4DFF;
  color: white;
}
